.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D1E8E4;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(89, 106, 106);
}
h2, h3, h4 {
  color: rgb(89, 106, 106);
  font-family: "Roboto", sans-serif;
}
.head {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}
button {
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin: 10px;
  color: rgb(135, 184, 227);
  font-weight: bold;
  box-shadow: 2px 2px 2px 3px #b0eae1;
}